<div id="small-content" class="container">
  <tabset #staticTabs>
    <tab heading="Profile">
      <div *ngIf="user" ngrole="tabpanel" class="" id="profile">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" class="form-control" value="{{ user.username }}" id="exampleInputEmail1" placeholder="username">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Full Name</label>
            <input type="text" class="form-control" value="{{ user.name }}" id="exampleInputEmail1" placeholder="Full Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" value="{{ user.email }}" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="newPass">Change Current Password</label>
            <input type="password" class="form-control" id="newPass" placeholder="New Password">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </tab>
    <tab heading="Account Info">
      <p style="padding: 10px; color: red;" *ngIf="!accounts?.length > 0">No email accounts found!.</p>
      <div style="padding-top: 30px">
        <form *ngFor="let account of accounts">
          <div class="well">
            <div class="form-group">
              <label for="emailID">Change email ID</label>
              <input type="text" class="form-control" value="{{ account.username }}" id="emailID" placeholder="username">
            </div>
            <div class="form-group">
              <label for="accountPass">Change Password</label>
              <input type="password" class="form-control" value="{{ account.password }}" id="accountPass" placeholder="Full Name">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </tab>
  </tabset>
</div>