<footer>
  <div class="footer-block">
    <div class="row">
      <ul>
        <li><a href="">Home</a></li>
        <li class="spacer">|</li>
        <li><a href="/overview">About Us</a></li>
        <li class="spacer">|</li>
        <li><a href="#">Site Map</a></li>
        <li class="spacer">|</li>
        <li><a href="#">Site Map</a></li>
        <li class="spacer">|</li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
    <div class="row">
      <p id="cp-right">Copyright <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2017</p>
    </div>
  </div>
</footer>