footer {
    width: 680px;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    margin: -50px auto 0 auto;
}
.footer-block {
    ul {
        li {
            display: inline;
        }
    }
    .spacer {
        padding: 0 10px;
        }    
}
#clearfooter {
height: 50px;
}