<div class="jumbotron text-center">
  <h1>EZ Mail App</h1>
  <p class="lead">Emailing has never been easier..</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']" >Register</a>
    <a class="btn btn-default" [routerLink]="['/login']" >Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h1>Secure API</h1>
    <p>Secure access to your info using jwt tokens.</p>
  </div>
  <div class="col-md-4">
    <h1>Angular 2 front-end</h1>
    <p>Secure access to your info using jwt tokens.</p>
  </div>
  <div class="col-md-4">
    <h1>Secure API</h1>
    <p>Secure access to your info using jwt tokens.</p>
  </div>
</div>