<div class="col-md-12 col-sm-11 main" style="min-height: 1246px;">
    <div class="row inbox">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body inbox-menu">
                    <a href="page-inbox-compose.html" class="btn btn-danger btn-block">New Email</a>
                    <ul>
                        <li>
                            <a href="page-inbox.html"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger">4</span></a>
                        </li>
                        <li>
                            <a href="page-inbox-compose.html#"><i class="fa fa-star"></i> Stared</a>
                        </li>
                        <li>
                            <a href="page-inbox-compose.html#"><i class="fa fa-rocket"></i> Sent</a>
                        </li>
                        <li>
                            <a href="page-inbox-compose.html#"><i class="fa fa-trash-o"></i> Trash</a>
                        </li>
                        <li>
                            <a href="page-inbox-compose.html#"><i class="fa fa-bookmark"></i> Important<span class="label label-info">5</span></a>
                        </li>
                        <li class="title">
                            Labels
                        </li>
                        <li>
                            <a href="page-inbox-compose.html#">Home <span class="label label-danger"></span></a>
                        </li>
                        <li>
                            <a href="page-inbox-compose.html#">Job <span class="label label-info"></span></a>
                        </li>
                        <li>
                            <a href="page-inbox-compose.html#">Clients <span class="label label-success"></span></a>
                        </li>
                        <li>
                            <a href="page-inbox-compose.html#">News <span class="label label-warning"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body contacts">
                    <a href="page-inbox-compose.html#" class="btn btn-success btn-block"> + Contact</a>
                    <ul>
                        <li><span class="label label-danger"></span> Adam Alister</li>
                        <li><span class="label label-default"></span> Alphonse Ivo</li>
                        <li><span class="label label-success"></span> Anton Phunihel</li>
                        <li><span class="label label-success"></span> Ajith Hristijan</li>
                        <li><span class="label label-warning"></span> Bao Gaspar</li>
                        <li><span class="label label-default"></span> Bernhard Shelah</li>
                        <li><span class="label label-success"></span> Bünyamin Kasper</li>
                        <li><span class="label label-danger"></span> Carlito Roffe</li>
                        <li><span class="label label-danger"></span> Chidubem Gottlob</li>
                        <li><span class="label label-warning"></span> Dederick Mihail</li>
                        <li><span class="label label-success"></span> Felice Arseniy</li>
                        <li><span class="label label-default"></span> Grahame Miodrag</li>
                        <li><span class="label label-default"></span> Hristofor Sergio</li>
                        <li><span class="label label-danger"></span> Scottie Maximilian</li>
                        <li><span class="label label-danger"></span> Sullivan Robert</li>
                        <li><span class="label label-danger"></span> Thancmar Theophanes</li>
                        <li><span class="label label-warning"></span> Tullio Luka</li>
                        <li><span class="label label-success"></span> Walerian Khwaja</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body message">
                    <p class="text-center">New Message</p>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="to" class="col-sm-1 control-label">To:</label>
                            <div class="col-sm-11">
                                <div class="select2-container select2-container-multi form-control" id="s2id_to">
                                    <ul class="select2-choices">
                                        <li class="select2-search-field"> <label for="s2id_autogen1" class="select2-offscreen">To:</label>
                                           
                                        </li>
                                    </ul>
                                    <div class="select2-drop select2-drop-multi select2-display-none">
                                        <ul class="select2-results"> </ul>
                                    </div>
                                </div>
                                <input type="email" class="form-control select2-offscreen" id="to" placeholder="Type email" tabindex="-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cc" class="col-sm-1 control-label">CC:</label>
                            <div class="col-sm-11">
                                <div class="select2-container select2-container-multi form-control" id="s2id_cc">
                                    <ul class="select2-choices">
                                        <li class="select2-search-field"> <label for="s2id_autogen2" class="select2-offscreen">CC:</label>
                                            
                                        </li>
                                    </ul>
                                    <div class="select2-drop select2-drop-multi select2-display-none">
                                        <ul class="select2-results"> </ul>
                                    </div>
                                </div>
                                <input type="email" class="form-control select2-offscreen" id="cc" placeholder="Type email" tabindex="-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bcc" class="col-sm-1 control-label">BCC:</label>
                            <div class="col-sm-11">
                                <div class="select2-container select2-container-multi form-control" id="s2id_bcc">
                                    <ul class="select2-choices">
                                        <li class="select2-search-field"> <label for="s2id_autogen3" class="select2-offscreen">BCC:</label>
                                           
                                        </li>
                                    </ul>
                                    <div class="select2-drop select2-drop-multi select2-display-none">
                                        <ul class="select2-results"> </ul>
                                    </div>
                                </div>
                                <input type="email" class="form-control select2-offscreen" id="bcc" placeholder="Type email" tabindex="-1">
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-offset-1">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button class="btn btn-default"><span class="fa fa-bold"></span></button>
                                <button class="btn btn-default"><span class="fa fa-italic"></span></button>
                                <button class="btn btn-default"><span class="fa fa-underline"></span></button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-default"><span class="fa fa-align-left"></span></button>
                                <button class="btn btn-default"><span class="fa fa-align-right"></span></button>
                                <button class="btn btn-default"><span class="fa fa-align-center"></span></button>
                                <button class="btn btn-default"><span class="fa fa-align-justify"></span></button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-default"><span class="fa fa-list-ul"></span></button>
                                <button class="btn btn-default"><span class="fa fa-list-ol"></span></button>
                            </div>
                            <button class="btn btn-default"><span class="fa fa-trash-o"></span></button>
                            <button class="btn btn-default"><span class="fa fa-paperclip"></span></button>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-tags"></span> <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="page-inbox-compose.html#">add label <span class="label label-danger"> Home</span></a></li>
                                    <li><a href="page-inbox-compose.html#">add label <span class="label label-info">Job</span></a></li>
                                    <li><a href="page-inbox-compose.html#">add label <span class="label label-success">Clients</span></a></li>
                                    <li><a href="page-inbox-compose.html#">add label <span class="label label-warning">News</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea class="col-md-11 form-control" id="message" name="body" rows="12" placeholder="Click here to reply" style =" width: 710px"></textarea>
                            <!--<grammarly-btn>
                                <div style="z-index: 2; opacity: 1; transform: translate(363px, 311px);" class="_e725ae-textarea_btn _e725ae-show _e725ae-field_hovered _e725ae-not_focused"
                                    data-grammarly-reactid=".0">
                                    <div class="_e725ae-transform_wrap" data-grammarly-reactid=".0.0">
                                        <div title="Protected by Grammarly" class="_e725ae-status" data-grammarly-reactid=".0.0.0">&nbsp;</div>
                                    </div>
                        </div>
                        </grammarly-btn>-->
                    </div>
                     <br style="padding-top: 20px">
                    <div class="form-group" >
                       
                        <button type="submit" class="btn btn-success">Send</button>
                        <button type="submit" class="btn btn-default">Draft</button>
                        <button type="submit" class="btn btn-danger">Discard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/row-->
</div>